/* fira-sans-300 - latin */
@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  src: local(""), url("./fonts/fira-sans-v10-latin-300.woff2") format("woff2"),
    url("./fonts/fira-sans-v10-latin-300.woff") format("woff"),
    url("./fonts/fira-sans-v10-latin-regular.woff2") format("woff2"),
    url("./fonts/fira-sans-v10-latin-regular.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #000;
  font-size: 1.25rem;
}

/*  */
.d-none {
  display: none !important;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.cal-header {
  display: flex;
  background: linear-gradient(50deg, #d2e5fd, #d4def5);
  color: #1f2937;
  padding: 6px;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.btn {
  all: unset;
  padding: 16px;
  cursor: pointer;
}

.btn img {
  pointer-events: none;
  display: block;
  width: auto;
  height: auto;
}

.anim-prev * {
  animation: anim-prev 0.3s forwards;
}

@keyframes anim-prev {
  50% {
    transform: translateX(-10px);
  }
}

.anim-next * {
  animation: anim-next 0.3s forwards;
}

@keyframes anim-next {
  50% {
    transform: translateX(10px);
  }
}

.cal-header-month {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.cal-header-year {
  font-size: 1rem;
  text-align: center;
}

.cal-body * {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cal-body-daynums {
  grid-template-rows: repeat(6, max-content);
  min-height: 300px;
}

.cal-body-daynames *,
.cal-body-daynums * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 0.6em 0;
  min-width: 40px;
  user-select: none;
  border: 1px solid #333;
}

.dayname {
  background-color: #333;
  font-size: 1rem;
}

.daynum {
  position: relative;
  cursor: pointer;
  text-shadow: 0px 1px 3px #000;
  transition: all 0.2s;
  font-weight: bolder;
}

.pastdaynum,
.futuredaynum {
  color: #666;
}

#today {
  outline: 2px dotted rgb(234, 255, 140);
  outline-offset: -2px;
  color: rgb(234, 255, 140);
}

/* Color menu */
.clrmenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  max-width: 420px;
}

.clrOption {
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
  border: 2px solid #fff6;
  cursor: pointer;
  transition: all 0.1s;
}

.clrOption--current {
  border: 3px solid #fffd;
  transform: scale(1.2);
}

/* Colors */
.clrGray {
  background-color: #6b7280;
}
.clrRed {
  background-color: #ef4444;
}
.clrYellow {
  background-color: #f59e0b;
}
.clrGreen {
  background-color: #10b981;
}
.clrBlue {
  background-color: #3b82f6;
}
.clrPurple {
  background-color: #7c3aed;
}
.clrPink {
  background-color: #ec4899;
}

/* Lighter colors */
/* .clrGray {
  background-color: #9ca3af;
}
.clrRed {
  background-color: #f87171;
}
.clrYellow {
  background-color: #fbbf24;
}
.clrGreen {
  background-color: #34d399;
}
.clrBlue {
  background-color: #60a5fa;
}
.clrPurple {
  background-color: #8b5cf6;
}
.clrPink {
  background-color: #f472b6;
} */

/*  */

.admin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #000 50vh, #000c, #0008);
  text-align: center;
  padding-bottom: 2em;
  backdrop-filter: blur(6px);
  z-index: 11;
  padding: 1em 0;
  height: 85vh;
}

.admin * {
  padding: 0.5em 1em;
  font-size: 1rem;
  color: #fff3;
  background-color: transparent;
  border: none;
}

.admin h2 {
  color: #fff;
  display: inline-block;
  border-bottom: 2px solid #111;
  margin-bottom: 1em;
  position: relative;
}

.admin h2::before,
.admin h2::after {
  content: "";
  position: absolute;
  transform: translateY(-50%) rotate(45deg);
  background-color: #fff;
  width: 6px;
  height: 6px;
}

.admin h2::before {
  left: 0;
  top: 50%;
}
.admin h2::after {
  right: 0;
  top: 50%;
}

#closeAdmin {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background-image: url(/img/close.svg);
  background-size: 100%;
}

#reset,
#export {
  margin: 1em;
  padding: 0.5em 1.25em;
  border: 1px solid #fff9;
  cursor: pointer;
  width: 16em;
  border-radius: 6px;
}

#reset {
  color: orange;
  background: linear-gradient(15deg, rgb(12, 4, 1), #0001);
}

#export {
  color: #3b82f6;
  background: linear-gradient(15deg, #02050a, #0001);
}

/* Text Actions */

.moving-row {
  overflow: hidden;
  display: grid;
  position: relative;
}

.actionsmenu {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
  background-color: #000;
}

.actionsmenu button {
  all: unset;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  color: #fff;
  background: #2228;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  transition: all 0.2s;
  outline: 3px solid transparent;
  outline-offset: -1px;
}

.actionsmenu button.active {
  background: linear-gradient(-90deg, #333, rgb(3, 37, 65));
  outline-color: orange;
  border-color: orange;
}

.newTextForm {
  grid-row: 1;
  grid-column: 1;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  transition: all 0.4s;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  justify-content: space-between;
  transform: translateX(600px);
}

.newTextForm input {
  height: 36px;
  padding: 0.4em;
  font-family: inherit;
  font-size: 1rem;
}

.newTextForm input[type="text"] {
  flex: 1;
  margin-right: 1em;
}

.newTextForm input[type="submit"] {
  appearance: none;
  padding: 0.25em 1em;
  background-color: #333;
  border: 2px solid #dff;
  color: #fff;
  cursor: pointer;
}

.newTextForm input[type="text"]:invalid ~ input[type="submit"] {
  opacity: 0.5;
}

/* Input from Tim */

#inputFromTim {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  outline: 2px solid #333;
  outline-offset: 2px;
}

#inputFromTim div {
  align-self: stretch;
  display: flex;
  align-items: center;
}

#inputFromTim ul {
  list-style-type: none;
  text-align: left;
}

#inputFromTim li {
  color: #ddd;
  font-size: 0.9rem;
  padding: 0.25em 0.5em;
}

#inputFromTim li em {
  padding: 0;
  color: orange;
  font-style: normal;
}

#inputFromTim label {
  color: #fff;
}

#inputFromTim input[type="text"] {
  color: #222;
  background-color: snow;
  margin: 0.25em;
  height: 36px;
  padding: 0.4em;
  font-family: inherit;
  font-size: 1rem;
  flex: 1;
}
#inputFromTim input[type="submit"] {
  appearance: none;
  padding: 0.25em 1em;
  background-color: #333;
  border: 2px solid #dff;
  color: #fff;
  cursor: pointer;
  padding: 0.4em 1em;
}

#inputFromTim input[type="text"]:invalid ~ input[type="submit"] {
  opacity: 0.5;
}

#inputFromTim code {
  display: block;
  font-size: 0.75rem;
  text-align: left;
  color: #fff9;
  border: 1px solid orange;
  background-color: rgb(3, 5, 12);
}

#inputFromTim details {
  padding-top: 0;
}

#inputFromTim summary {
  cursor: pointer;
  color: #eee;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: #fff9;
}

.clrmenu {
  transition: transform 0.4s;
  grid-row: 1;
  grid-column: 1;
}

.textInputMode .clrmenu {
  transform: translateX(-600px);
}

.textInputMode .newTextForm {
  visibility: visible;
  transform: unset;
  opacity: 1;
}

.daynum[data-comment]::before {
  position: absolute;
  content: "";
  top: 3px;
  right: 3px;
  background-color: #000a;
  border: 2px solid #fffe;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.detailsDisplay {
  position: absolute;
  background-color: #111;
  color: #111;
  font-size: 1rem;
  padding: 0 0.5em 0.5em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr auto;
  display: none;
}

.detailsDisplay h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
  font-size: 1rem;
  color: #333;
  color: white;
  align-self: center;
  padding: 0 0.2em;
  background: linear-gradient(
    to top,
    rgba(255, 166, 0, 0.185) 25%,
    transparent 0
  );
}

.detailsDisplay p {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  border: 1px solid #2225;
  padding: 0.5em;
  font-size: 0.9rem;
  box-shadow: inset 0 1px 4px #2222;
  background-color: ghostwhite;
  color: #222;
  border-radius: 3px;
  height: 5em;
  overflow: hidden;
}

.detailsActions {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.detailsActions button {
  all: unset;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.detailsActions button span {
  color: #eee;
  padding: 0.5em;
  font-size: 0.9rem;
}

#removeDetails span {
  color: #ef4444;
}
#savequitDetails span {
  color: #10b981;
}

.detailsActions svg {
  pointer-events: none;
}

.importDataFromFile {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline-offset: 2px;
  width: max-content;
  padding: 0;
  width: 16em;
}

.importDataFromFile label {
  color: #eee;
  /* margin: 1em; */
  padding: 0.5em 1.25em;
  background: linear-gradient(15deg, rgb(1, 8, 1), #0009);
  cursor: pointer;
  width: 16em;
  border: 1px solid #fff9;
  border-radius: 6px;
  position: relative;
}

.importDataFromFile label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Media queries */
@media (min-width: 640px) {
  .container {
    margin-top: 5vh;
  }

  .cal-body-daynames *,
  .cal-body-daynums * {
    padding: 1em 0;
  }

  .daynum[data-comment]::before {
    width: 12px;
    height: 12px;
    top: 6px;
    right: 6px;
  }
}
