/* fira-sans-300 - latin */
@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  src: local(""), url("./fonts/fira-sans-v10-latin-300.woff2") format("woff2"),
    url("./fonts/fira-sans-v10-latin-300.woff") format("woff"),
    url("./fonts/fira-sans-v10-latin-regular.woff2") format("woff2"),
    url("./fonts/fira-sans-v10-latin-regular.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #000;
  font-size: 1.25rem;
}

/*  */
.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.cal-header {
  display: flex;
  background: linear-gradient(50deg, #d2e5fd, #d4def5);
  color: #1f2937;
  padding: 6px;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.btn {
  all: unset;
  padding: 16px;
  cursor: pointer;
}

.btn img {
  pointer-events: none;
  display: block;
  width: auto;
  height: auto;
}

.anim-prev * {
  animation: anim-prev 0.3s forwards;
}

@keyframes anim-prev {
  50% {
    transform: translateX(-10px);
  }
}

.anim-next * {
  animation: anim-next 0.3s forwards;
}

@keyframes anim-next {
  50% {
    transform: translateX(10px);
  }
}

.cal-header-month {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.cal-header-year {
  font-size: 1rem;
  text-align: center;
}

.cal-body * {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cal-body-daynums {
  grid-template-rows: repeat(6, max-content);
  min-height: 300px;
}

.cal-body-daynames *,
.cal-body-daynums * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 0.6em 0;
  min-width: 40px;
  user-select: none;
  border: 1px solid #333;
}

.dayname {
  background-color: #333;
  font-size: 1rem;
}

.daynum {
  cursor: pointer;
  text-shadow: 0px 1px 3px #000;
  transition: all 0.2s;
  font-weight: bolder;
}

.pastdaynum,
.futuredaynum {
  color: #666;
}

#today {
  outline: 2px dotted rgb(234, 255, 140);
  outline-offset: -2px;
  color: rgb(234, 255, 140);
}

/* Color menu */
.clrmenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  max-width: 420px;
}

.clrOption {
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
  border: 2px solid #fff6;
  cursor: pointer;
  transition: all 0.1s;
}

.clrOption--current {
  border: 3px solid #fffd;
  transform: scale(1.2);
}

/* Colors */
.clrGray {
  background-color: #6b7280;
}
.clrRed {
  background-color: #ef4444;
}
.clrYellow {
  background-color: #f59e0b;
}
.clrGreen {
  background-color: #10b981;
}
.clrBlue {
  background-color: #3b82f6;
}
.clrPurple {
  background-color: #7c3aed;
}
.clrPink {
  background-color: #ec4899;
}

/* Lighter colors */
/* .clrGray {
  background-color: #9ca3af;
}
.clrRed {
  background-color: #f87171;
}
.clrYellow {
  background-color: #fbbf24;
}
.clrGreen {
  background-color: #34d399;
}
.clrBlue {
  background-color: #60a5fa;
}
.clrPurple {
  background-color: #8b5cf6;
}
.clrPink {
  background-color: #f472b6;
} */

/*  */

.admin {
  margin-top: 30px;
  text-align: center;
}

.admin * {
  all: unset;
  padding: 0.5em 1em;
  font-size: 1rem;
  color: #fff3;
  background-color: transparent;
  border: none;
}

/* Media queries */
@media (min-width: 640px) {
  .container {
    margin-top: 5vh;
  }

  .cal-body-daynames *,
  .cal-body-daynums * {
    padding: 1em 0;
  }
}
